<%- include('../partials/header') %>

<section id="show-page">
  <div>Location Name:</div>
  <div><%= location.locationName %></div>
  <div>Address:</div>
  <div><%= location.locationAddress %></div>
  <div>Hours:</div>
  <div><%= location.hoursOfOp %></div>
  <div>-</div>
  <div><%= location.hoursOfOp %></div>
  <div>Password:</div>
  <div><%= location.wifiPassword %></div>
  <br />
  <h2>Comments</h2>

  <% if (user) { %>
  <form
    id="add-comment-form"
    method="POST"
    action="/locations/<%= location._id %>/comments "
  >
    <label for="#">Leave a Comment:</label>
    <textarea name="comments" id="#" cols="30" rows="10"></textarea>
    <button type="submit" value="Add Comment">Submit Comment</button>
  </form>
  <% } %> <% if (location.comments.length) { %>
  <table>
    <!-- posted comments table head -->
    <thead>
      <tr>
        <th>User</th>
        <th>Comment</th>
        <!-- <th>WiFi Speed Score</th> -->
      </tr>
    </thead>
    <!-- posted comments field population -->
    <tbody>
      <% location.comments.forEach(function(c) { %>
      <tr>
        <td class="comment-user">
          <img src="<%= c.userAvatar %>" alt="avatar" /><%= c.userName %>
        </td>
        <td>
          <p><%= c.comments %></p>
          <!-- Return to figuring out how to display erse button -->
          <% console.log(user, "<----User") %> <% console.log(c) %> <% if (user
          && user.name === c.userName) { %>
          <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
            <button type="submit">Remove</button>
          </form>
          <form action="/comments/<%= c._id %>?_method=PUT" method="POST">
            <input name="text" />
            <button type="submit">UPDATE COMMENT</button>
          </form>
          <% } %>
        </td>
      </tr>
      <% }); %>

      <!-- <td colspan="9"></td> -->
    </tbody>
  </table>
  <% } else { %>
</section>
<% } %>
