<%- include('../partials/header') %>

<section id="show-page">
  <div>Location Name:</div>
  <div><%= location.locationName %></div>
  <div>Address:</div>
  <div><%= location.locationAddress %></div>
  <div>Hours:</div>
  <div><%= location.hoursOfOp %></div>
  <div>-</div>
  <div><%= location.hoursOfOp %></div>
  <div>Password:</div>
  <div><%= location.wifiPassword %></div>
  <br />
  <h2>Comments</h2>

  <% if (user) { %>
  <form
    id="add-comment-form"
    method="POST"
    action="/locations/<%= location._id %>/comments "
  >
    <label for="#">Leave a Comment:</label>
    <textarea name="comments" id="#" cols="30" rows="10"></textarea>

    <button type="submit" value="Add Comment">Submit Comment</button>
  </form>
  <% } %> <% if (location.comments.length) { %>
  <table>
    <!-- posted comments table head -->
    <thead>
      <tr>
        <th>User</th>
        <th>Comment</th>
        <!-- <th>WiFi Speed Score</th> -->
      </tr>
    </thead>
    <!-- posted comments field population -->
    <tbody>
      <% location.comments.forEach(function(c) { %>
      <tr>
        <td class="comment-user">
          <img src="<%= c.userAvatar %>" alt="avatar" /><%= c.userName %>
        </td>

        <td>
          <p><%= c.comments %></p>
          <!-- Return to figuring out how to display erse button -->
          <% if (user && user._id.equals(c.user)) { %>
          <form action="/comments/ <%= c._id %>?_method=DELETE" method="POST">
            <button type="submit">Remove</button>
          </form>
          <% } %>
        </td>
      </tr>
      <% }); %>
      <h5>Log in to Leave a Comment!</h5>
      <!-- <td colspan="9"></td> -->
    </tbody>
  </table>
  <% } else { %>
  <h5>Log in to be The first to Comment!</h5>
 
</section>
<% } %>

<!-- Above I have a working page diplaying individual location, as well as the
comments input field and existing comments table. I need to create the delete -->
<!-- functionality for each comment posted by a unique user. I need to make sure
that the username of the commentor populates when ever they leave a comment. I
need to make sure that the comment date timestamp populates whenever a user
leaves a comment. -->
